body {
    background-color: #FEC260;
}

h3{
    color:#E63E6D;
}

.nav-wrapper,
.sidenav,
.collapsible-header,
.page-footer{
    background-color: #E63E6D;
    
}


.form-box{
    background-color:white;
}

.btn-small {
    margin-left:200px;
}


