body {
    background-color: #FEC260;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }


h3{
    color:#E63E6D;
}

.nav-wrapper,
.sidenav,
.collapsible-header,
.page-footer{
    background-color: #E63E6D;
    
}


.form-box{
    background-color:white;
}

.btn-small {
    margin-left:200px;
}



 
