body {
    background-color: #FEC260;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }


h3,h2, h4 {
    color:#E63E6D;
    text-align:center;
}

.nav-wrapper,
.sidenav,
.collapsible-header,
.page-footer{
    background-color: #E63E6D;
    
}


.form-box{
    background-color:white;
}

.btn-small {
    margin-left:200px;
}

p {
    color:black;
    font-size: 20px;
    text-align: center;
}

.btn-large,
.btn {
    background-color:#E63E6D;
    color:#FEC260;
}

nav ul a {
    color:#FEC260;
    font-size: 20px;

}
nav .brand-logo,
footer div.container,
footer div.container a {
    
color:#FEC260;
}

.loglink {
    color:#E63E6D;
}

.card-panel,
input {
    background-color: #FEC260;
}

img {
    width:100%;
    height:auto;
}

.card-image {
    width:60%;
    height:60%;
    align-items: center;
    margin-left:20%;
}
.card {
    background-color: #FFD07F;
}

span {
    text-align: center;
}

.input-field {
    background-color: #FFD07F;
}

i {
    color: #E63E6D;
}
.fa-caret-down{
    color:#FEC260;
}

.search,
.plus{
    color:#FEC260;
}

.sidenav li a{
    color:#FEC260;
    font-size: 20px;
}

.dropdown-content{
    background-color:#FEC260;
    
}

.dropdown-content li a {
    color:#E63E6D;
}

