{% extends "base.html" %}
{% block content %}
<div class="title-style s6">
    <h3 class="center-align">
        Review the concert you attended!
    </h3>
</div>

<div class="row form-bg-col">

    <form class="col s12" method="POST" action="{{ url_for('add_review') }}" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <select>

                  <option value="" disabled selected>Choose the event</option>
                  <option value=" "><strong>{{ concert.artist }}</strong></option>
                 
                <label></label>
                  
              </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-scroll prefix"></i>
                    <input id="review_title" type="text" name="review_title" minlength="3" maxlength="100" class="validate" required>
                    <div id="dynamicInputTwo"></div>
                    <label for="review_title">Review Title</label>
                </div>
            </div>
        
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-scroll prefix"></i>
                <input id="review" type="text" name="review" minlength="50" maxlength="500" class="validate" required>
                <div id="dynamicInputTwo"></div>
                <label for="description">Review</label>
            </div>
        </div>
        
      
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="waves-effect waves-light btn button-style">Submit</button>
                <a href="{{ url_for('add_review') }}" class="waves-effect waves-light btn button-style">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}