{% extends "base.html" %}
{% block content %}
<div class="title-style s6">
    <h3 class="center-align">
        Write a review of the concert you attented!
    </h3>
</div>

<div class="row form-bg-col">

    <form class="col s12" method="POST" action="{{ url_for('add_review') }}" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-music prefix"></i>
                <input id="" type="text" name="artist" minlength="5" maxlength="50" class="validate"
                    required>
                <label for="artist">Artist</label>
            </div>
        </div>
      
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen prefix"></i>
                <input id="review_title" type="text" name="review_title" class="datepicker validate" required>
                <div id="dynamicInputTwo"></div>
                <label for=""></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-scroll prefix"></i>
                <input id="concert_review" type="text" name="concert_review" minlength="3" maxlength="300" class="validate" required>
                <div id="dynamicInputTwo"></div>
                <label for="concert_review">Your review</label>
            </div>
        </div>
     
       
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="waves-effect waves-light btn button-style">Submit</button>
                <a href="{{ url_for('add_review') }}" class="waves-effect waves-light btn button-style">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}