{% extends "base.html" %}
{% block content %}

<h3>Manage Events By Genres!</h3>
<div class="row">

  <div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large">
            Add Genre<i class="fas fa-plus-square right plus"></i>
        </a>
    </div>
</div>
{% for category in categories %}
<ul class="collection">
    <li class="collection-item avatar">
      <i class="fas fa-headphones"></i></a>
      <span class="title center-align genre-heading"><strong>{{ category.genre }}</strong></span>
    </li>

    {% if session.user %}
      <div class="card-action">
        <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn cat-btn">Edit</a>
        <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn cat-btn-delete">Delete</a>
      </div>
    {% endif %}

</ul>


{% endfor %}
</div>

{% endblock %}