{% extends "base.html" %}
{% block content %}

<h3>Browse All Recorded Events!</h3>
<!--
    <ul class="collapsible popout">

      {% for concert in concerts %}
        <li>
          <div class="collapsible-header text-shadow">
            <div class="col s9">
            <i class="fas fa-music"></i>
            <strong>{{ concert.artist }}</strong>:  {{ concert.concert_date }}
            </div>

            {% if session.user %}
            <div class="col s3"><a href="{{ url_for('delete_concert', concert_id=concert._id) }}" class="btn-small">Delete</a>
                
                <a href="{{ url_for('edit_concert',concert_id=concert._id) }}" class="btn-small">Edit</a>
            </div>
          </div>
          {% endif %}
         
            <div class="collapsible-body">
              <span>
              <strong>{{ concert.city }},  {{ concert.country }}</strong>
              <p>{{ concert.description}}</p>
              <p>{{ concert.genre }}</p>
              <img src= "{{ concert.url_image }}">
             </span>
            </div>
        </li>
        
        {% endfor %}
    </ul>
  -->

  {% for concert in concerts %}
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ concert.url_image }}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i></i><strong>{{ concert.artist }}<br>
         {{ concert.concert_date }}</strong> </span>
    </div>
    <div class="card-reveal">
      <span class="card-title"><strong>{{ concert.venue }}, {{ concert.city }}, {{ concert.country}}</strong><i class="fas fa-undo right"></i></span>
      <p>{{ concert.description }}</p>
      <p>{{ concert.genre}}</p>
    </div>
  </div>

  {% endfor %}


{% endblock %}