{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Browse All Recorded Events!</h3>

    <ul class="collapsible popout">

      {% for concert in concerts %}
        <li>
          <div class="collapsible-header text-shadow"><i class="fas fa-music"></i>
            <strong>{{ concert.artist }}</strong>:  {{ concert.concert_date }}
          </div>
            <div class="collapsible-body">
              <span>
              <strong>{{ concert.city }},  {{ concert.country }}</strong>
              <p>{{ concert.description}}</p>
              <p>{{ concert.category_name}}</p>
             </span>
            </div>
        </li>
        
        {% endfor %}
    </ul>

{% endblock %}
