{% extends "base.html" %}
{% block content %}
<div class="title-style s6">
    <h3 class="center-align">
        Make changes to the event!
    </h3>
</div>

<div class="row form-bg-col">
    <form class="col s12" method="POST" action="{{ url_for('edit_concert', concert_id=concert._id) }}" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-music prefix"></i>
                <input id="artist" type="text" name="artist"
                value="{{ concert.artist }}" minlength="5" maxlength="50" class="validate"
                    required>
                <label for="artist">Artist</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-city prefix"></i>
                <input id="city" type="text" name="city" class="validate"  value="{{ concert.city }}" required>
                <label for="city">City</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-flag prefix"></i>
                <input id="country" type="text" name="country" class="validate"  value="{{ concert.country }}" required>
                <label for="country">Country</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-building prefix"></i>
                <input id="venue" type="text" name="venue" class="validate"  value="{{ concert.venue }}"
                    required>
                <div id="dynamicInput"></div>
                <label for="venue">Venue</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-record-vinyl prefix"></i>
                <input id="genre" type="text" name="genre" minlength="3" maxlength="300" class="validate"  value="{{ concert.genre }}" required>
                <div id="dynamicInputTwo"></div>
                <label for="category_name">Genre</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix"></i>
                <input id="concert_date" type="text" value="{{ concert.concert_date }}" name="concert_date" class="datepicker validate" required>
                <div id="dynamicInputThree"></div>
                <label for="concert_date">Date of the event</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-scroll prefix"></i>
                <input id="description" type="text" name="description" minlength="3" maxlength="300" class="validate"  value="{{ concert.description }}" required>
                <div id="dynamicInputFour"></div>
                <label for="description">Description</label>
            </div>
        </div>
        
        <div class="row">
            <div class="file-field input-field col s12">
                <i class="fas fa-image prefix"></i>
                <input type="url" name="url_image" id="url_image" value="{{ concert.url_image }}" required>
                <div id="dynamicInputFive"></div>
                <label for="url_image">Image url</label>
            </div>
        </div>



        <div class="row">
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_concerts') }}" class="btn-large">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large">
                        Edit Event<i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}