<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="parallax-container">
    <img class="responsive-img" src="static/images/screen.jpg">
    
  </div>
  
    <div class="row container">
      <h2 class="header">Concert Corner</h2>
      <h4 class="header">Where all your event memories meet!</h4>
      <p class="grey-text text-darken-3 lighten-3">Concert Corner or CoCo is the place where you can make a collection of the music events you participated in, where you can keep and share your memories.
        Register if you want to be a part of our CoCo community!
      </p>
      <button type="submit" class="col s12 btn-large">
        Register <i class="fas fa-sign-in-alt"></i>
    </div>

    <div><img src="static/images/heart-crowd.jpg"></div>




{% endblock %}
