<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="parallax-container">
    <img class="responsive-img" src="static/images/screen.jpg">
    
  </div>
  
    <div class="row container">
      <h2 class="header">Concert Corner</h2>
      <h4 class="header">Where all your event memories meet!</h4>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>

    <div class="parallax"><img src="static/images/heart-crowd.jpg"></div>




{% endblock %}
