{% extends "base.html" %}
{% block content %}
<div class="title-style s6">
    <h3 class="center-align">
        Add the event you have attended!
    </h3>
</div>

<div class="row form-bg-col">

    <form class="col s12" method="POST" action="{{ url_for('new_concert') }}" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-music prefix"></i>
                <input id="artist" type="text" name="artist" minlength="5" maxlength="50" class="validate"
                    required>
                <label for="artist">Artist</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-city prefix"></i>
                <input id="city" type="text" name="city" class="validate" required>
                <label for="city">City</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-flag prefix"></i>
                <input id="country" type="text" name="country" class="validate" required>
                <label for="country">Country</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-building prefix"></i>
                <input id="venue" type="text" name="venue" class="validate"
                    required>
                <label for="venue">Venue</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-record-vinyl prefix"></i>
                <input id="genre" type="text" name="genre" minlength="3" maxlength="300" class="validate" required>
                <div id="dynamicInputTwo"></div>
                <label for="genre">Genre</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix"></i>
                <input id="concert_date" type="text" name="concert_date" class="datepicker validate" required>
                <label for="concert_date">Date of the event</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-scroll prefix"></i>
                <input id="description" type="text" name="description" minlength="3" maxlength="300" class="validate" required>
                <label for="description">Description</label>
            </div>
        </div>
        
        <div class="row">
            <div class="file-field input-field col s12">
                <i class="fas fa-image prefix"></i>
                <input type="url" name="url_image" id="url_image" required>
                <label for="url_image">Image url</label>
            </div>
        </div>

       
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="waves-effect waves-light btn button-style">Submit</button>
                <a href="{{ url_for('new_concert') }}" class="waves-effect waves-light btn button-style">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}